<%- include('head', { title: 'Authentication Example' }) -%>
<h1><%- buttonValue %></h1>
<%- message %>
<%- description %>
<form method="post" action="/<%- formAction %>">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <input type="submit" value="<%- buttonValue %>">
  </p>
</form>
<%- include('foot') -%>
